body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 95%);
}

.stopWatch{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid black;
  border-radius: 50px;
  background-color: white;
  padding: 30px;
}

.display{
  font-size: 5rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.75);
  margin-bottom: 25px;
}

.controls button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;
}

.startButton{
  background-color: green;
}

.startButton:hover{
  background-color: hsl(120, 100%, 20%);
}

.stopButton{
  background-color: red;
}

.stopButton:hover{
  background-color: rgb(185, 0, 0);
}

.resetButton{
  background-color: blue;
}

.resetButton:hover{
  background-color: rgb(0, 0, 185);
}