body{
  background-image: url(./assets/sunrise-snowy-mountains-clouds.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;


  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.digitalClock{
  width: 100vw;
}

.clock{
  /* backdrop-filter: blur(1px); */
  color: white;
  font-size: 10rem;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.674);
}

footer{
  font-size: 0.5rem;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 5px;
}

