.card{
  font-family:'Times New Roman', Times, serif;
  border: 1px solid rgba(0, 0, 0, 0.126);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.068);
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  text-align: center;
  display: inline-block;
  margin: 10px;

  img{
    width: 60%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
    margin: 0%;
  }

  .card_heading{
    color: hsl(0, 0%, 2%);
  }
  .card_text{
    color: hsl(0, 0%, 3%);
  }
}