body{
    background-color: black;
}

.ToDoList{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1{
    font-size: 4rem;
    color: white;
}

button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.addButton{
    background-color: hsla(120, 100%, 25%, 0.9);
}

.addButton:hover{
    background-color: hsla(120, 100%, 25%, 0.5);
}

.deleteButton{
    background-color: rgb(255, 76, 76);
}

.deleteButton:hover{
    background-color: rgba(255, 76, 76, 0.466);
}

.downButton{
    background-color: rgb(100, 232, 255);
}

.downButton:hover{
    background-color: rgba(100, 232, 255, 0.416);
}

.upButton{
    background-color: rgb(100, 232, 255);
}

.upButton:hover{
    background-color: rgba(100, 232, 255, 0.416);
}

input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsla(0, 0%, 80%, 0.5);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.5);
}

ol{
    padding: 0;
}

li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 10px;
    border: 3px solid hsl(0, 0%, 87%, .75);
    border-radius: 5px;
    /* display: flex; */
    align-items: center;
}

.text{
    flex: 1;

}

.deleteButton, .upButton, .downButton{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}