.color-picker{
  /* width: 400px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-display{
  height: 200px;
  width: 200px;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 5px 5px 5px rgb(155, 155, 155);
  text-align: center;
}

label{
  margin: 0;
  margin-top: 10px;
}